<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feeds - Post</title>
</head>
<body>
    <h1>Welcome to my Feeds</h1>
    <p>feel free to post your thoughts</p>
    <hr>
    
    <form action="add_post/" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name">
        <br><br>
        <textarea name="post"></textarea>
        <br><br>
        <input type="submit" value="Post">

    </form>

    <hr>
    <h1>Recents Posts</h1>
    <table border="1">
        {% for x in allposts %}
        <tr>
            <td>{{ x.post }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.time }}</td>
        </tr>
        {% endfor %}
    </table>

    
</body>
</html>